*{
    margin: 0;
    padding: 0;
}

.header{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    min-height: 10%;
    text-align: center;
    height: 10%;
    background-color: beige;
    top: 0px;
    border-bottom: 3px solid darkgray;
}

.nav-link{
  display: table-cell;
  vertical-align: bottom;
    alignment: center;
    padding-bottom: 5px;
}

#title{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 0.27em;
}

.spacer{
    display: flex;
    justify-content: space-evenly;
}

.question_display{
    align-content: center;
    padding-bottom: 50px;
    padding-left: 10%;
    position: absolute;
    height: auto;
}

.question_detail{
    width: 90%;
    border-radius: 25px;
    background-color: beige;
    border: 3px solid darkgray;
}

.control_buttons{
    /*border: 1px solid black;*/
    width: 100%;
    align-content: center;
    text-align: center;
}

.question_title{
    margin-top: 25px;
    text-align: center;
    width: 79%;
    text-align: center;
    background-color: aquamarine;
    margin-left: 11.2%;
    border-top: 1px solid;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
}

/*td{*/
/*    border: 1px solid black;*/
/*}*/