*{
    margin: 0;
    padding: 0;
}

body{
    /*background-color: #484848;*/
}

table.center {
    margin-left:auto;
    margin-right:auto;
    width: 95%;
}



.comment_buttons input {
    padding: 5px;
    background: transparent;
    border: 2px solid;
    color: #e26901;

}

.comment_buttons input:hover {
    background: orange;
    border-color: orange;
    color: black;
}

.comment_buttons select {
    border-radius: 25px;
    padding: 5px;
    background: transparent;
    border: 2px solid;
    color: #e26901;
    /*background-color: #e26901;*/
}



.header{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    min-height: 10%;
    text-align: center;
    height: 10%;
    background-color: #e8e8bcfa;
    top: 0px;
    border-bottom: 3px solid darkgray;

}

.nav-link{
  display: table-cell;
  vertical-align: bottom;
    alignment: center;
    padding-bottom: 5px;
}

#title{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 0.27em;
}



.spacer{
    display: flex;
    justify-content: space-evenly;
}

.question_display{
    align-content: center;
    padding-bottom: 50px;
    padding-left: 5%;
    position: absolute;
    height: auto;


}

.question_detail{
    width: 95%;
    border-radius: 25px;
    background-color: #e8e8bcfa;
    border: 3px solid darkgray;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    min-height: auto;
    padding-bottom: 25px;
}


.search{
    width: 40%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: #e8e8bcfa;
    border: 3px solid darkgray;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    min-height: auto;
    padding-bottom: 25px;
    text-align-last: center;
}

.search_buttons input{
    width: auto;
}

.answer_display{
    position: relative;
    /*padding-left: 15%;*/
    width: 95%;
    border-radius: 25px;
    background-color: #e8e8bcff;
    border: 3px solid darkgray;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    margin: auto;
}


.answer{
    position: relative;
    /*padding-left: 15%;*/
    width: 95%;
    border-radius: 25px;
    background-color: #e8e8bcff;
    border: 3px solid darkgray;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    margin: auto;
    align-content: center;
    /*margin-top: 15px;*/
    margin-bottom: 15px;
    min-height: 150px;
}

.answer select {
    border-radius: 25px;
    padding: 5px;
    background: transparent;
    border: 2px solid;
    color: #e26901;
    /*background-color: #e26901;*/
}
}

.rowHeight tr{
    height: 4rem;
}

.control_buttons{
    /*border: 1px solid black;*/
    /*width: 100%;*/
    align-content: center;
    text-align: center;
}


.question_title{
    margin-top: 25px;
    text-align: center;
    width: 88.5%;
    text-align: center;
    background-color: #ecc0578c;
    margin-left: 6%;
    border-top: 1px solid;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
}

.answer_title_single{
    margin-top: 25px;
    text-align: right;
    width: 25%;
    text-align: center;
    background-color: #ecc0578c;
    margin-right: 10%;
    border-top: 1px solid;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    padding: 0%;
    margin-left: 69%;
    margin-top: 66px;
}


.answer_title{
    width: 93%;
    margin: auto;
    /*position: relative;*/
    /*padding: auto;*/
    margin-top: 25px;
}


.control_buttons input,button{
    border-radius: 50px;
    padding: 10px;
    background: transparent;
    border: 2px solid;
    color: #e26901;
    /*text-shadow: 2px 0px #000000;*/
    text-shadow: 1px 0px rgba(63, 107, 169, 0.5);
    font-weight: bold;
    margin-top: 5px;
}

.control_buttons input:hover {
    background: orange;
    border-color: orange;
    color: black;
}

input::-webkit-file-upload-button {
    border-radius: 50px;
    /*padding: 10px;*/
    background: transparent;
    border: 2px solid;
    color: #e26901;
    /*text-shadow: 2px 0px #000000;*/
    text-shadow: 1px 0px rgba(63, 107, 169, 0.5);
    font-weight: bold;
    /*margin-top: 5px;*/
}



.control_buttons {
    margin-bottom: 10px;
}

.comment{
    position: relative;
    width: 90%;
    background-color: #fdff4f;
    margin: auto;
    margin-top: -15px;
    border-radius: 15px 15px 15px 15px;
    /*margin-bottom: 66px;*/
    min-height: 0;
}

.pt15{
    margin-top: 15px;
}

.tags{
    text-align: center;
    font-style: italic;
    color: deepskyblue;

}

.w100p{
    width: 100%;
}

.padLeft2p{
    padding-left: 2%;
}


.padTop2p{
    padding-top: 2%;
}

.edit_page{
    text-align: center;
    margin-top: 25px;
}

#title{
    width: 25%;
    text-align: center;
}

.control_buttons textarea{
    border-radius: 40px;
    padding: 10px;
    background: transparent;
    border: 2px solid;
    border-color: #e26901;
    /*text-shadow: 2px 0px #000000;*/
    text-shadow: 1px 0px rgba(63, 107, 169, 0.5);
    font-weight: bold;
    margin-top: 5px;
}

.bold{
    font-weight: bold;
}

/*td{*/
/*    border: 1px solid black;*/
/*}*/
