<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<div class="header">
    <h1 id="title">Ask Mate</h1>
    <br>
    {%  if not session['username'] %}
    {% include "reg.html" %}
    {% else %}
    {% include "logged_in.html"%}
    {% endif %}
    <div class="spacer">
        <a class="nav-link" href="{{ url_for("list_questions") }}">Home</a>
        <a class="nav-link" href="/">Hot</a>
        <a class="nav-link" href="{{ url_for("search_for_questions") }}">Search</a>
        <a class="nav-link" href="{{ url_for("list_users") }}">List users</a>
        <a class="nav-link" href="{{ url_for("tag_page") }}">List tags</a>
    </div>
</div>