<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
    <h1>{{ question.title }}</h1>

    <h2>Question data</h2>
    <table>
        <thead>
            <tr>
                {% for header in question.keys() %}
                <th>{{ header|capitalize|replace('_', ' ') }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            <tr>
                {% for header in question.keys() %}
                <td>{{ question.get(header)}}</td>
                {%  endfor %}
            </tr>
        </tbody>
    </table>

    <h2>Answers to the question</h2>

    {% if answers | length != 0 %}
    <table>
        <thead>
            <tr>
                {% for header in answers[0].keys() %}
                <th>{{ header|capitalize|replace('_', ' ') }}</th>
                {%  endfor %}
            </tr>
        </thead>
        <tbody>
            {% for answer in answers %}
            <tr>
                {% for header in answer.keys() %}
                <td>{{ answer.get(header) }}</td>
                {%  endfor %}
                <td>
                    <form action={{"/answer/"}}{{answer.id}}{{"/delete"}}>
                        <input type="submit" value="↑up">
                    </form>
                </td>
                <td>
                    <form action={{"/answer/"}}{{answer.id}}{{"/delete"}}>
                        <input type="submit" value="↓down">
                    </form>
                </td>
                <td>
                    <form action={{"/answer/"}}{{answer.id}}{{"/delete"}}>
                        <input type="submit" value="Delete answer">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%  else  %}
        {{ "There is no answer to this question" }}
    {% endif %}
    <form action={{"/question/"}}{{question.id}}{{"/new-answer"}} method="get">
        <input type="submit" value="Answer question">
    </form>
    <br>
    <form action={{"/"}}{{question.id}}{{"/edit"}}>
        <input type="submit" value="Edit question">
    </form>
    <br/>
    <form action={{"/question/"}}{{question.id}}{{"/delete"}}>
        <input type="submit" value="Delete question">
    </form>
</body>
</html>

