<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User list</title>
    </head>
        <body>
            {% include "banner.html" %}
            <h1 class="question_display"></h1>
            <div class="question_detail answer_display rowHeight pt15">
            <br>
            <div align="center">
            <h1>User list</h1>
            </div>
            <br>
            <table class="center_tags pt15">
                <colgroup>
                    <col style="width: 3%">
                    <col style="width: 4%">
                    <col style="width: 10%">
                </colgroup>
                {% set fieldnames = ['name', 'reg_date', 'reputation'] %}
                <thead>
                    {%  for title in fieldnames %}
                        <th>{{ title|capitalize }}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            {% for title in fieldnames %}
                                <td>{{ user[title] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </body>
</html>