<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>List of questions | Ask Mate</title>
    </head>
    <body>
        <h1>Questions sorted by latest questions</h1>
        <table style="width: 90%">
            <tr>
                {% for header in fieldnames %}
                <th>{{ header|capitalize|replace('_', ' ') }}</th>
                {% endfor %}
            </tr>
            {% for questions in sorted_questions %}
            <tr>
                {% for header, data in questions.items() %}
                    {% if header == 'submission_time' %}
                        <td>{{ data }}</td>
                    {% elif header == 'title' %}
                        <td>
                            <a href="{{ url_for('question_display', question_id=questions['id']) }}">{{ data }}</a>
                        </td>
                    {% else %}
                        <td>{{ data }}</td>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tr>
        </table>
    <form action="/add-question">
        <input type="submit" value="Add New Question">
    </form>
    </body>
</html>