<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    {% include "banner.html" %}
    {% include "search.html" %}
        <h1>Your keywords were found in the following questions:</h1>
    <div class="answer_display edit_page control_buttons">
        <table class="center">
            <colgroup>
                <col style="width: 20%">
                <col style="width: 50%">
                <col style="width: 20%">
                <col style="width: 16.5%">
                <col style="width: 11%">
                <col style="width: 11%">
            </colgroup>
            {% set fieldnames = ['title', 'message', 'image', 'vote_number', 'view_number', 'submission_time'] %}
            <tr>
                {% for cell in fieldnames %}
                <th>{{ cell|capitalize|replace('_', ' ') }}</th>
                {% endfor %}
            </tr>
            {% for question in questions %}
            <tr>
                {% for cell in fieldnames %}
                    {% if cell == 'submission_time' %}
                        <td>{{ question[cell] }}</td>
                    {% else %}
                        <td>{{ question[cell] }}</td>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tr>
        </table>
    </div>
    </body>
</html>