<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   {% include "banner.html" %}
    <div align="center">
        <h1>Add tag</h1>
        <br>
        <form action="/question/{{qid}}/new-tag" method="post">
            <br/>
            <br/>
            <label for="tag-selector">Choose a tag</label>
            <br/>
            <select id="tag-selector" name="selected_tag_name">
                {% for tag in existing_tags %}
                    <option value="{{ tag }}">{{ tag }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add your tag">
        </form>
            <br/>
            <br/>
            <label>or</label>
            <br/>
            <br/>
        <form action="/question/{{qid}}/new-tag" method="post">
            <label for="add-new-tag">Enter a new tag</label>
            <br/>
            <input id="add-new-tag" name="add_new_tag" type="text" rows="2" cols="8">
            <br/>
            <input type="submit" value="Add your tag">
            <br/>
        </form>
    </div>
</body>
</html>